.gallery{
  margin:10px 50px;
/* width: 20%; */
  overflow: hidden;
/* padding: 2%; */
align-items: center;
text-align: center;

}
.gallery img{
  transition:0.4s;
  height: 300px;
  padding: 15px;


}
.gallery img:hover{
  transform: scale(1.1);
}
