.row-header {
    margin: 0px auto;
    padding: 0px 0px;
  }
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }
  .jumbotron {
    margin: 0px auto;
    padding: 30px 20px;
    background: #b37700 !important;
  }
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
  }
  body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
  }
  .navbar-dark {
    background-color: #805500 !important;
  }
  .carousel {
    background: #b37700 !important;
    width: 500px;
    height: 400px;
  }
  .carousel .carousel-item {
    height: 400px;
  }
  .carousel .carousel-item img {
    position: absolute;
    height: 400px;
    width: 500px;
  }
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }
  

  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  .gallery{
    margin:10px 50px;
  /* width: 20%; */
    overflow: hidden;
  /* padding: 2%; */
  align-items: center;
  text-align: center;
  
  }
  .gallery img{
    transition:0.4s;
    height: 300px;
    padding: 15px;
  }
  .gallery img:hover{
    transform: scale(1.1);
  }

  /* Books */
  @font-face {
    font-family: "kalamlight";
    src: url("../fonts/kalam-light-webfont.woff2") format("woff2"),
         url("../fonts/kalam-light-webfont.woff") format("woff");
  }
  .book-card-img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
    height: 300px;
  }
  .book-card-logo {
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
    height: 150px;
    width: 90px;
  }

  .book-card-header {
    text-align: left;
    /* text-decoration: underline; */
  }
  .book-card-para {
    font-size:90%;
    text-align: justify;
    margin-top: 10px;
    font-family: "kalamlight";
  } 
.card{
  border-color: #b37700 !important;
  /* border-radius: 0; */
  border-width: 6px !important;
  margin-bottom: 30px;
}
.card-header {
    text-align: left;
    font-weight: bolder;
    background-color: beige !important;
}
.card-body{
  margin:5px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6{
  color: #b37700;
  font-family: "kalamlight" !important;
}