.row-header {
    margin: 0px auto;
    padding: 0px 0px;
  }
  .row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
  }
  .footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px;
  }
  .jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background: #9575CD;
    color: floralwhite;
  }
  address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
  }
  body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
  }
  .navbar-dark {
    background-color: #512DA8;
  }
  .tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  .carousel {
    background: #512DA8;
  }
  .carousel .carousel-item {
    height: 300px;
  }
  .carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
  }
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }
  

  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  /* GALLERY */
  .gallery{
    margin:10px 50px;
  /* width: 20%; */
    overflow: hidden;
  /* padding: 2%; */
  align-items: center;
  text-align: center;
  
  }
  .gallery img{
    transition:0.4s;
    height: 300px;
    padding: 15px;
  
  
  }
  .gallery img:hover{
    transform: scale(1.1);
  }



  /* Books */
  @font-face {
    font-family: "kalamlight";
    src: url("../fonts/kalam-light-webfont.woff2") format("woff2"),
         url("../fonts/kalam-light-webfont.woff") format("woff");
  }
  .book-card-img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    border-style: none;
    height: 300px;
  }

  .book-card-header {
    text-align: center;
    text-decoration: underline;
  }
  .book-card-para {
    font-size:90%;
    text-align: justify;
    margin-top: 10px;
    font-family: "kalamlight";
  } 
